rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      // Ensure your admin UID is correctly placed here.
      return request.auth != null && request.auth.uid in ['aC2Azl37NBelxACXojQOuxIRq8I2'];
    }

    // Rule for 'users' collection
    match /users/{userId} {
      // Admins can read any user profile. Users can read/update their own.
      allow read: if isAdmin() || (request.auth != null && request.auth.uid == userId);
      allow update: if request.auth != null && request.auth.uid == userId;

      // Allow user creation (signup).
      allow create: if request.auth.uid != null;
    }

    // Rules for all documents within a user's session, including messages
    match /users/{userId}/circumstances/{circumstanceId}/sessions/{sessionId}/{document=**} {
        // Admins can read. Users can read/write their own.
        allow read: if isAdmin() || (request.auth != null && request.auth.uid == userId);
        allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Rules for the 'feedback' collection
    match /feedback/{feedbackId} {
      // Any authenticated user can create feedback.
      allow create: if request.auth != null;
      // Only admins can read feedback.
      allow read: if isAdmin();
    }
  }
}
